USE [IDEA_X]
GO
/****** Object:  Table [dbo].[GENERAL_POSTS]    Script Date: 6/19/2022 10:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERAL_POSTS](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[AUTHOR] [varchar](50) NULL,
	[TIMELINE_TEXT] [varchar](500) NULL,
	[TIMELINE_IMAGE] [image] NULL,
	[POSTING_TIME] [datetimeoffset](7) NULL,
	[POSTING_STATUS] [varchar](50) NULL,
	[POST_LIKE] [int] NOT NULL,
	[POST_DISLIKE] [int] NOT NULL,
	[POST_IP] [varchar](150) NULL,
	[POST_TAG] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
